.allPeepStyle {
    background-color: gainsboro;
}

.notLogged {
    border: 3px solid darkslategrey;
    max-width: 450px;
    border-radius: -2px;
    margin: 25px auto 25px auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}