.footerMain {
    background-color: blue;
}

.footerHead {
    color: aliceblue;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.gitHubImg {
    /* float: right; */
    height: 50px;
    width: 50;
}