.headerMain {
    background-color: blue;
    height: 125px;
    font-size: 95px;
    text-align: 25%;
    color: aliceblue;
    display: flex;
}

.logoImg {
    width: 150px;
    height: 100%;
    float: left;
}

/* .logButton {
    float: right;
    width: 150px;
    height: 75px;
    font-size: 50px;
} */

.loginText {
    background-color: blue;
    height: 125px;
    font-size: 50px;
    padding: 30px 0;
    color: aliceblue;
    margin-left: auto;
    margin-right: 100px;
}