.peepDiv {
    border: 3px solid darkslategrey;
    max-width: 450px;
    margin: 25px auto 25px auto;
}

.peepUserName {
    float: left;
}

.peepDate {
    float: right;
}

.peepHead {
    display: flex;
    justify-content: space-between;
}