.formWrapper {
    max-width: 450px;
    max-height: 300;
    margin: 10px auto 1px auto;
    text-align: center;
}

.newPeepWrap {
    border: 3px solid darkslategrey;
    border-top: 0;
    max-width: 150px;
    border-radius: -2px;
}